PROXY_HTTP_PORT=80
NGINX_HOST=localhost

MVIEWERSTUDIO_URL_PATH_PREFIX=mviewerstudio
MVIEWERSTUDIO_DEFAULT_ORG=public
MVIEWERSTUDIO_AUTH_ALLOWED_ROLES=MVIEWER_ACCESS

POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=change-me

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_HOSTNAME=http://localhost/keycloak

OAUTH2_PROXY_CLIENT_ID=mviewerstudio
OAUTH2_PROXY_CLIENT_SECRET=mviewerstudio-local-secret
OAUTH2_PROXY_COOKIE_SECRET=0123456789abcdef0123456789abcdef
OAUTH2_PROXY_OIDC_ISSUER_URL=http://localhost/keycloak/realms/mviewer
OAUTH2_PROXY_LOGIN_URL=http://localhost/keycloak/realms/mviewer/protocol/openid-connect/auth
OAUTH2_PROXY_REDIRECT_URL=http://localhost/oauth2/callback
OAUTH2_PROXY_ALLOWED_ROLE=MVIEWER_ACCESS
